.container {


    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s;

    width:1200px;
    margin : 0 auto 2rem;
}

.container .header {

    margin: 2rem 1rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header img {

    width: 60px;
}

.container .header .search{

    width: 50%;
    display: flex;
    align-items:  center;
    position:relative;
}

.container .header .search img {

    position: absolute;
    width: 30px;
    margin-left: 9px;
}

.container .header .search input {

    border : 1px solid rgba(192, 192, 192, 0.476) ;
    outline: none;
    border-radius: 30px;
    font-size: 1.1rem;
    padding: 12px 15px 12px 50px;
    background-color: #fff;
    height: fit-content;
    width: 100%;
    transition: all 0.2s ease-out;
}

.container .header .search input:focus { 

    border: solid 1px #355fea;
}




.container .Items {

    background-color: #fff;
    /* padding: 2rem 3rem; */
    border-radius: 1rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    min-height: fit-content;
}

.License {

    color :silver;
    margin: 1rem auto  ;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    
}


@media(max-width : 1300px){

    .container {


        width:900px;
        margin : 0 auto 2rem;
    }
}

@media(max-width :900px){

    .container {


        width : calc(100% - 4rem) ;
        margin : 0 2rem 2rem;
    }

    .container .header {

        flex-direction: column-reverse;
        align-items: center;
    }

    .container .header img {

        width: 80px;
    }

   
    .container .header .search{
    
        width: 100%;
       margin-top: 2rem;
    }

    .container .header .search input {

      
        font-size: 0.9rem;
    }
      
}





